.product-box {
  width: 30%;
  @include flex-center-column;
  padding: 15px 10px;
  border: 1px solid #e43e3e; 
}

.product-box__title {

}

.product-box__image {

}

.product-box__price {

}

.product-box__colors {
  @include flex-center-row;
}

.product-box__color-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e43e3e; 
  margin: 0 10px;
}